.content {
    text-align: justify;
    margin: 10px
}
.bold {
    font-weight: bold;
    color: #008bff;
}

#menuFrame {
    background-color: #008bff;
}
.btn-myMenu:hover{color:rgba(255, 255, 255, 0.7);background-color:#0069d9;border-color:#0069d9}

.active {
    background-color:#0069d9;
}

.btn.btn-square {
    border-radius: 0;
  }
  .navbar-icon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  .navelement-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 20px;
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-nolowermargins {
    padding: 0rem 1rem;
    background-color: #008bff;
    height: 100px;
  }
  .navbar-column-filler {
      height: 100px;
      background-color: #008bff;
  }
  .nopadding {
      padding-left: 0px;
      padding-right: 0px;
  }
  .mynav-link {
      color: white;
      text-decoration: none;
  }
  .mynav-link:hover {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.7);
  }
  .container-education {
    height: min-content;
    border-left: solid 6px #0069d9;
    border-radius: 10px;
    background-color: rgba(0, 139, 255,0.4);
    box-shadow: 3px 3px 7px  #5f5f5f;
    padding: 5px;
  }

  .container-year {
    font-weight: 600;
    height: min-content;
    border-left: solid 6px #0069d9;
    border-radius: 10px;
    background-color: rgba(0, 139, 255,0.4);
    box-shadow: 3px 3px 7px  #5f5f5f;
    padding: 5px;
  }

  .school-name {
    font-weight: 600;
  }
  .padding-top {
    padding-top: 15px;
  }
  .img-div {
    border-radius: 50%;
  }
  .img-div:hover{border-radius: 25%;}
