.content {
    text-align: justify;
    margin: 10px
}
.bold {
    font-weight: bold;
    color: #008bff;
}

#menuFrame {
    background-color: #008bff;
}
.btn-myMenu:hover{color:rgba(255, 255, 255, 0.7);background-color:#0069d9;border-color:#0069d9}

.active-bg {
    background-color:#0069d9;
}

.btn.btn-square {
    border-radius: 0;
  }
  .navbar-icon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  .navelement-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* EZ ÁLLÍTJA A FIX MENÜ MAGASSÁGOT! */
    font-size: 20px;
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-nolowermargins {
    background-color: #008bff;
    
  }
  .navbar-column-filler {
      height: 100px;
      background-color: #008bff;
  }
  .nopadding {
      padding: 0px;
  }
  .mynav-link {
      color: white;
      text-decoration: none;
  }
  .mynav-link:hover {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.7);
  }
  .container-education {
    height: min-content;
    border-left: solid 6px #0069d9;
    border-radius: 10px;
    background-color: rgba(0, 139, 255,0.4);
    box-shadow: 3px 3px 7px  #5f5f5f;
    padding: 5px;
  }

  .container-year {
    font-weight: 600;
    height: min-content;
    border-left: solid 6px #0069d9;
    border-radius: 10px;
    background-color: rgba(0, 139, 255,0.4);
    box-shadow: 3px 3px 7px  #5f5f5f;
    padding: 5px;
  }

  .school-name {
    font-weight: 600;
  }
  .padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .img-div {
    border-radius: 50%;
  }
  .card-text {
    text-align: justify;
  }
  .card-title {
    text-align: center;
  }
  
  .price-holder {
    min-height: 50px;
    align-items: center;
    font-weight: 700;
    color: red;
    font-size: 20px;
    white-space: nowrap;
  }
  i {
    color: white;
    font-size: 34px;
    margin-left: auto;
    margin-right: auto;
  }
  .vertical-center {
    display: flex;
    align-items: center;
}
table {
  width: 100%;
}
.basket {
  text-align: right;
  min-height: 50px;
  padding-left: 20px;
}
.small-text {
  margin-top: 20px;
  font-size: smaller;
}
.card {
  border: solid 2px black;
  background-color: mintcream;
  border-radius: 10px;
}